<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3VR1UFRbkr_bABZxBRdRzOR1QxykrPkU</string>
	<key>GCM_SENDER_ID</key>
	<string>1066504746742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.jhhs.624103.CPBFirebase</string>
	<key>PROJECT_ID</key>
	<string>cpb-firebase-e9297</string>
	<key>STORAGE_BUCKET</key>
	<string>cpb-firebase-e9297.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066504746742:ios:4e06adcf5460ae4cd5ded7</string>
</dict>
</plist>